/* STYLES FOR THE DASHBOARD */
.tab-header {
  display: flex;
  justify-content: space-around;
}

.tab-lead {
  display: flex;
  justify-content: space-around;
}

#logo-dashboard {
  width: 50px;
  margin: 10px 3px;
}